hr {
    color: red;
}

ul {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(247, 181, 208);
    width: 70%;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    margin: 15px auto;
    list-style-type: none;
}

li {
    padding: 3px 40px 7px 0;
    font-family: 'Montserrat', sans-serif;
    
}
